body {
    display: flex;
    width: 100%;
    margin: 0;
    flex-direction: column;
}

.menu_container {
    display: flex;
    background-color: rgb(178, 124, 227);
    color: white;
    border: 2px solid yellow;
}

.menu {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Rubik', sans-serif;
}

.menu h1 {
    font-size: 32px;
}

button {
    flex-shrink: 0;
}

ul {
    display: flex;
    color: rgb(222, 222, 222);
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 16px;
}

li {
    list-style: none;
}

.header_container {
    display: flex;
    justify-content: center;
    border: 2px solid red;
    background-color: rgb(178, 124, 227);

}

.header_modal {
    display: flex;
    width: 500px;
    padding: 10px;
    gap: 16px;
    flex-wrap: wrap;
}

/* .container_1 h1 {
    color: white;
    font-size: 36px;
} */

img {
    width: 400px;
    height: 200px;
    border: 2px solid red;
}