* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* #makes borders added to boxes not count towards the content. */

}

body {
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
}

/* Navigation Bar Start */

.header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(178, 124, 227);
    /* border: 3px solid rgb(30, 255, 0); */
}

.menu_title {
    font-size: 13px;
    color: #fff
}

ul {
    display: flex;
    color: rgb(222, 222, 222);
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 17px;
    list-style: none;
}

ul li a {
    text-decoration: none;
    padding: 0 20px;
    display: inline-block;

}

li a::after {
    content: "";
    display: block;
    height: 4px;
    width: 0;
    background: rgb(222, 222, 222);
    transition: all .5s;
}

li a:hover::after {
    width: 100%;
}



/* Contents_1 Start */

.contents_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh -100px);
    background-color: rgb(178, 124, 227);
    padding: 40px 0px 110px 0px;
    gap: 20px;
}

.content_1_left h1 {
    font-size: 52px;
    font-weight: bolder;
    color: #fff;
}

.content_1_left p {
    font-size: 18px;
    color: rgb(222, 222, 222);
}

.content_1_left {
    width: 37%;
}


.header_img img {
    width: 520px;
    height: 235px;
    box-shadow: 0px 2px 20px #590155;
}

.contents_1 button {
    background-color: #b44bab;
    color: white;
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 5px;
    border-style: none;
    margin-top: 10px;
}

.contents_1 button:hover {
    background-color: rgb(71, 16, 122)
}


/* Contents_2 Start */

.contents_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
}

.contents_2_title {
    text-align: center;
    padding-bottom: 20px;

}

.contents_2_gallery {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.contents_2_gallery p {
    text-align: center;
}

.column img {
    width: 150px;
    height: auto;
}