* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
    background-image: url("./images/wallpaperbetter.jpg");
    background-attachment: scroll;
}

/* Navigation Bar Start */

.header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header img {
    width: 50px;
    height: auto;
}

.menu_title {
    font-size: 13px;
    color: #fff;
    display: flex;
    gap: 10px;
    align-items: center;
}

ul {
    display: flex;
    color: rgb(222, 222, 222);
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 17px;
    list-style: none;
}

ul li a {
    text-decoration: none;
    padding: 0 20px;
    display: inline-block;

}

li a::after {
    content: "";
    display: block;
    height: 4px;
    width: 0;
    background: rgb(222, 222, 222);
    transition: all .5s;
}

li a:hover::after {
    width: 100%;
}



/* Contents_1 Start */

.contents_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh -100px);
    padding: 40px 0px 110px 0px;
    gap: 20px;
}

.content_1_left h1 {
    font-size: 52px;
    font-weight: bolder;
    color: #fff;
}

.content_1_left p {
    font-size: 18px;
    color: rgb(222, 222, 222);
}

.content_1_left {
    width: 37%;
}


.header_img img {
    width: 520px;
    height: 235px;
    box-shadow: 0px 2px 20px #590155;
    border: 3px solid purple;
    border-radius: 3px;

}


.contents_1 button {
    background-color: #b44bab;
    color: white;
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 5px;
    border-style: none;
    margin-top: 10px;
    box-shadow: 0px 0px 5px 1px purple;
}

.contents_1 button:hover,
.modal_right button:hover {
    background-color: rgb(231, 211, 250);
    color: #1F2837;
}


/* Contents_2 Start */

.contents_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    color: white
}

.contents_2_title {
    text-align: center;
    padding: 40px 0;

}

.contents_2_gallery p {
    padding-top: 5px;
}

.contents_2_gallery {
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
    padding-bottom: 40px;

}

.contents_2_gallery img {
    border-radius: 5%;
    border: 3px solid purple;
}

.column {
    width: 150px;
    height: auto;
    display: flex;
    flex-direction: column;
}


/* Contents_3 Start */

.contents_3 {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gainsboro;
}

.contents_3_quote {
    display: flex;
    flex-direction: column;
    width: 50%;

}

.contents_3 h2 {
    font-size: 32px;
    font-style: italic;
    font-weight: lighter;
}

.contents_3 p {
    color: #1F2837;
    padding: 15px 0;
    align-self: flex-end;
}


/* Contents_4 start */

.contents_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.contents_4_modal {
    display: flex;
    justify-content: space-around;
    width: 75%;
    flex-wrap: wrap;
    background-color: #e558d9;
    border-radius: 8px;
    padding: 45px;

    color: white
}

.contents_4 .modal_right {
    display: flex;
    align-self: flex-end;
}

.modal_right button {
    background-color: #b44bab;
    color: white;
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 5px;
    border-style: none;
    box-shadow: 0px 0px 5px 1px purple;
    margin-top: 10px;
}

/* Footer Start */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: white;
}

.footer a {
    text-decoration: none;
    color: white;
}